<div>
  <% if(success_msg !== '') { %>
  <p><%= success_msg %></p>
  <% } %>
</div>
<div>
  <% if(error_msg !== '') { %>
  <p><%= error_msg %></p>
  <% } %>
</div>
<div>
  <% if(error != '') { %>
  <p><%= error %></p>
  <% } %>
</div>
